################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScrifaGithubWiki/FileContentIndex/4e723c27-81da-48c6-a0d3-28ee54ee2991.vsidx
